{% extends "base.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#role').on('change', function (e) {
                e.preventDefault();
                var value = $('option:selected', '#role').val()
                if (value === 'project_manager'){
                    $('#ticket_flow').fadeOut();
                } else{
                    $('#ticket_flow').fadeIn();
                }
            });
        });
    </script>
{% endblock scripts %}

{% block content %}
<div class="max-w-lg mx-auto">
    <a class="hover:text-blue-400" href="{% url 'administration:member-list' %}">Go back to members</a>
        <hr/>
       <div class="py-5 border-5 border-gray-200">
            <h1 class="text-4xl test-gray-800">Create a new member</h1>
        </div>
        <form method="post">
              {% csrf_token %}
              <div class="row">
                  <div class="col-6">
                    {{ form.username|as_crispy_field }}
                  </div>
                  <div class="col-6">
                    {{ form.first_name|as_crispy_field }}
                  </div>
                  <div class="col-6">
                    {{ form.last_name|as_crispy_field }}
                  </div>
                  <div class="col-6">
                    {{ form.email|as_crispy_field }}
                  </div>
                  <div class="col-6" id="role">
                    {{ form.role|as_crispy_field }}
                  </div>
                  {% if form.ticket_flow %}
                    <div class="col-6" id="ticket_flow">
                        <div id="div_id_ticket_flow" class="col-6 mb-3">
                            <label for="id_ticket_flow" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Ticket flow</label>
                            <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 block w-full p-2.5"
                                    id="id_ticket_flow" multiple
                                    name="ticket_flow">
                                {% for project in form.ticket_flow %}
                                    {{ project }}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                  {% endif %}
              </div>
            <button type="submit" class="w-full text-white bg-indigo-500 hover:bg-indigo-600 px-3 py-2 rounded-md">Submit</button>
          </form>
    </div>
{% endblock content %}