{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<div class="max-w-lg mx-auto">
    <a class="hover:text-blue-400" href="{% url 'administration:member-list' %}">Go back to members</a>
        <hr/>
        <h1 class="text-3xl text-gray-800">Do you really want to send delete request?</h1>
        <form method="post" class="mt-5">
            {% csrf_token %}
            <button type="submit" class="flex ml-auto mb-3 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Submit</button>
        </form>
</div>
{% endblock content %}
