{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<div class="max-w-lg mx-auto">
    <a class="hover:text-blue-400" href="{% url 'dashboard:project-management' request.session.project_id %}">Go back to project management</a>
    <hr/>
    <div class="py-5 border-5 border-gray-200">
        <h1 class="text-4xl test-gray-800">Assign a member to this ticket</h1>
    </div>
    <form method="post" class="mt-5">
        {% csrf_token %}
        {{ form|crispy }}
        <button type='submit' class="flex ml-auto mb-3 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
            Submit
        </button>
    </form>
</div>

{% endblock content %}