{% load static %}

<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
        <img class="w-12 h-12 text-white p-2 bg-violet-100 rounded-full" alt="hero" src="{% static 'images/bug.png' %}"/>
      <span class="text-black ml-2 text-xl">Tracer</span>
    </a>

    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      {% if not request.user.is_authenticated %}
        <a href="{% url 'signup' %}" class="mr-5 hover:text-gray-900">Signup</a>
      {% else %}
      {% if request.user.is_organizer %}
        <a href="{% url 'archive:archive-project-list' %}" class="mr-4 hover:text-gray-900">Archive</a>
        {% endif %}
        <a href="{% url 'dashboard:dashboard-chart' %}" class="mr-4 hover:text-gray-900">Dashboard</a>
      {% if not request.user.role == 'project_manager' %}
        <a href="{% url 'tickets:ticket-list' %}" class="mr-4 hover:text-gray-900">Tickets</a>
        {% endif %}
        {% if request.user.is_organizer or request.user.role == 'project_manager' %}
        <a href="{% url 'administration:member-list' %}" class="mr-2.5 hover:text-gray-900">Members</a>
        {% endif %}
          {% if request.user.notifications.count != 0 %}
            <a href="{% url 'notifications:notification-list' %}" class="mr-2.5 inline-block relative">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-700"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
                </svg>
                <span class="absolute top-1 right-0.5 block h-1 w-1 rounded-full ring-2 ring-green-400 bg-green-600"></span>
            </a>
          {% else %}
            <a href="{% url 'notifications:notification-list' %}" class="mr-2.5 inline-block relative">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
            </svg>
            </a>
          {% endif %}

      {% endif %}
    </nav>

    {% if request.user.is_authenticated %}
            Logged in as: {% if request.user.is_organizer %}&nbsp;&nbsp;<a href="{% url 'account:account-update' request.user.pk %}" class="mr-4 hover:text-gray-900"> {{ request.user.username }} </a>{% else %}&nbsp;&nbsp;<div class="mr-4"> {{ request.user.username }} </div>{% endif %}
    <a href="{% url 'logout' %}" class="ml-2 inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">
      Logout
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>

    {% else %}
    <a href="{% url 'login' %}" class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">
      Login
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
    {% endif %}
  </div>
</header>